<nav class="navbar navbar-expand-lg navbar-light color">
    <div class="container">
      <div class="row w-100 align-items-center justify-content-between">
        <div class="col-3">
          <a class="navbar-brand p-1" routerLink="/home" >
            <img src="/assets/360_F_578382136_a79RB0kLzNJczsCPjRoYsmkji9FukUfQ.jpg" width="90" height="90" alt="Logo">
          </a>
        </div>

        <div class="col-3 text-center">
          <h2 class="text-white fs-4">Home Review</h2>
        </div>
        
        <div class="col-3 text-end d-flex align-items-center justify-content-end">
          <i class="fa-solid fa-cart-shopping fa-2x text-white"></i>
          <button type="button" class="btn btn-outline-light ms-3"routerLink="/login"  >Login</button>
        </div>
      </div>
    </div>
  </nav>

  
  